.body {
background-image: url(icones/pexels-martin-péchy-1028203.jpg);
background-size: 100%;
margin: 0%;
font-family: 'Roboto', sans-serif;
margin-top: 0%;
margin-bottom: 0%;
color: white;

}
.mother {
    background-color: rgb(7, 3,49);  
    height: 70px;
    display: flex;
    margin-top: 0%;
    flex-direction: row;
    border: 2px;
    border-color: rgb(7, 3,49); 
    align-items: center;
   top: 0%;
   left: 0%;
   right: 0%;
   position: fixed;
   
    
}
.head {
   
    margin-top: 0%;
    




}
.menu {
background-color: rgb(7, 3,49);;
color:white;
border-color: white;
border-style:solid ;
padding: 8px 30px;
font-family: 'Roboto', sans-serif;
font-size: 14px;
cursor: pointer;
}

.presentation {
font-family: 'Roboto', sans-serif;;
font-size: 50px;
font-weight: bold;
}
.decription {

}
.link {
  
}
.downald {
    background-color: rgb(7, 3,49);;
    color:white;
    border-color: white;
    border-style:solid ;
    padding: 8px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
   
   
    
}
.one {
   
    flex: 1;
    margin-left: 130px;
    margin-top: 12px;
   
}
.two {
    
    
    width: 180px;
   
}

.mothertwo {
    text-align: center;
 margin-top: 22%;
line-height: 12px;
 color: whitesmoke; 

 

}
.downald:hover{
    padding-left:50px ;
    padding-right:50px ;
    padding-top:10px ;
    padding-bottom:10px ;
    opacity: 0.8;
transition: 0.2s;

}
a {

    text-decoration: none;
    color: white;
}
a:active {
    color: rgb(7, 3,49);
}
@media(max-width :600px) {
    .mothertwo {
        font-size: xx-small;
    }
    .presentation{
        font-size: 22px;
    }
}